<ion-content  color="primary">
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <!--register not declared yet-->
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Crie sua conta:</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nome" ></ion-input>
            </ion-item>
            <!--ngModel required removed for now-->
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Sobrenome" ></ion-input>
            </ion-item>
            <!--ngModel required removed for now-->
            <ion-item>
              <ion-input name="email" type="email" placeholder="E-mail" ></ion-input>
            </ion-item>
            <!--ngModel required removed for now-->
            <ion-item>
              <ion-input name="password" type="password" placeholder="Senha" ></ion-input>
            </ion-item>
            <!--ngModel required removed for now-->
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirme sua senha" ></ion-input>
            </ion-item>
            <!--ngModel required removed for now-->
          </div>
          <div padding>
            <ion-button routerLink="/login" routerdirection="forward" size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>