<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar uma tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastrar uma tarefa</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <form [formGroup]="form">
      <!--register not declared yet-->
      <ion-grid>
        <ion-row class="ion-justify-content-center" style="margin-top:15px">
          <ion-col size-md="6" size-lg="5" size-xs="12">
            <ion-text class="ion-text-center">
            </ion-text>
            <div>
              <ion-item color="primary">
                <ion-input formControlName="task_name" name="task_name" type="text" placeholder="Título"></ion-input>
              </ion-item>
              <!--ngModel required removed for now-->
              <ion-item color="primary">
                <ion-input formControlName="description" name="description" type="text" placeholder="Descrição da tarefa"></ion-input>
              </ion-item>
              <!--ngModel required removed for now-->
              <ion-item color="primary">
                <ion-input formControlName="payment" name="payment" type="number" placeholder="Pagamento R$"></ion-input>
              </ion-item>
              <p *ngIf="isInvalid('payment')">{{ getErrorMessage(form, 'payment') }}</p>
              <!--ngModel required removed for now-->
              <div class="ion-text-center">
                <ion-button size="large" [disabled]="form.invalid" expand="block" (click)="cadastrar()">Cadastrar tarefa                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </div>
</ion-content>