#container{
  margin-top: 10px;
  background-color: rgba(19, 67, 99, 0.4);
  border-radius: 10px;
}

.title
{
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  border-bottom: 1px solid #138971;
  text-align: center;
}

.main_text{
  font-weight: bolder;
  margin-right: 2px;
}

.task_text{
  font-weight: normal;
}


