<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Minhas tarefas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
     <ion-grid>
      <div *ngIf="!verifyEmpty();">
        <ion-row *ngFor="let task of taskList;" style=" justify-content: center;">
          <ion-col size="12" class="card card-style" style="">
            <h3 class="title">{{ task.task_name }}</h3>
            <ion-button class="btn-acessar" color="primary" (click)="goToTask(task)">
              Ver detalhes da tarefa
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="verifyEmpty();" >
        <p class="ion-text-center" style=" color: #138971 !important; font-weight: bolder; font-size: 1.8rem;">Você não tem nenhuma tarefa para executar!</p>
        <ion-img src="assets/icon/favicon.png" style=""></ion-img>
      </div>
     </ion-grid>
  </div>
</ion-content>
