.title
{
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  border-bottom: 2px solid #138971;
}

.card-style{
  height: 100px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(19, 67, 99, 0.4);
  margin-bottom: 10px;
}

